@import '../../../assets/variables';
@import '../../../assets/mixins';

.container {
  @include scrollbar;
  height: calc(100vh - 40px);
  padding: $padding;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: calc($padding * 4);
  // form
  app-form {
    width: 393px;
    max-width: 100%;
  }
  // welcome
  app-welcome {
    height: 593px;
    width: 515px;
    max-width: 100%;
  }
}

// breakpoints
@include lg-breakpoint {
  .container {
    flex-direction: column;
    justify-content: start;
    gap: calc($padding * 2);
  }
}

@include lg-and-sm-height-breakpoint {
  .container {
    align-items: baseline;
  }
}
