$font-size: 12px;
$font-size-small: 10px;
$font-size-medium: 24px;
$font-size-large: 36px;
$font-weight: 400;
$font-weight-bold: 700;
$padding: 20px;
$border-radius: 12px;
$field-height: 48px;
$box-shadow:
  0px 3px 3px -2px rgba(0, 0, 0, 0.2),
  0px 3px 4px 0px rgba(0, 0, 0, 0.14),
  0px 1px 8px 0px rgba(0, 0, 0, 0.12);
$breakpoints: (
  xs: 0,
  sm: 630px,
  md: 800px,
  lg: 1000px,
  xl: 1200px,
  xxl: 1400px,
);
