@import './assets/variables';
@import './assets/mixins';
:root {
  --primary-color: #6236ff;
  --contrast-color: #ffffff;
  --border-color: #dcdbdd;
  --button-color: #000000;
}
html {
  @include scrollbar;
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
}
