<form>
  <div class="title">
    <span>Test Page</span>
  </div>
  <div class="control">
    <div class="label">
      <span>Name</span>
    </div>
    <input type="text" />
  </div>
  <div class="control">
    <div class="label">
      <span>Phone</span>
    </div>
    <input type="text" />
  </div>
  <div class="control">
    <div class="label">
      <span>Opening Sentence</span>
    </div>
    <app-sentence [placeholders]="placeholders"></app-sentence>
  </div>
  <button type="submit">Submit</button>
</form>
