@import '../../../assets/variables';
@import '../../../assets/mixins';

form {
  height: 100%;
  width: 100%;
  .title {
    font-size: $font-size-medium;
    padding-bottom: $padding;
  }
  .control {
    .label {
      font-weight: $font-weight-bold;
      padding: calc($padding / 2) 0;
    }
    input {
      width: 100%;
      padding: 12px $padding;
      border: 1px solid var(--border-color);
      border-radius: $border-radius;
      box-sizing: border-box;
      height: $field-height;
    }
    input:focus {
      @include field-focus;
    }
  }
  button {
    width: 100%;
    border: none;
    border-radius: $border-radius;
    height: $field-height;
    background-color: var(--button-color);
    color: var(--contrast-color);
    margin-top: $padding;
    cursor: pointer;
    padding: 0;
  }
  button:focus:not(:focus-visible) {
    outline: none;
  }
  button:hover {
    box-shadow: $box-shadow;
  }
}
